-template_config.associations_keys.each do |assoc|
  -template_config.associations[assoc].each do |attr, preds|
    -model_name = model.name
    -id = "#{template}_#{model_name}_#{assoc}_#{attr}"
    - datalist_id = "#{id}_datalist"
    %h3.js{click: 'filchColClick', shId: "#{id}_column", datalist: datalist_id, id: id+'_head' }
      ="#{assoc} #{attr}"
    %table.hidden{id: "#{id}_column"}
      %tr
        %td
          %datalist{id: datalist_id, updateInner_addvars: "#{model_name}.#{attr}.#{f.options[:as]}", updateInner_path: 'quicksearch', class: 'js', update: 'dlUpdate'}
            %option

      -preds.each do |pred|
        %tr
          -if lookup_context.find_all("filch/_#{pred}").any?
            =render("filch/#{pred}", f: f, datalist_id: datalist_id, attr: "#{assoc}_#{attr}", model: model)
          -else
            %td=pred
            %td.no_partial
              =f.text_field("#{assoc}_#{attr}_#{pred}", {list: datalist_id, class: 'js', input: "filchDataList"})
