-template_config.attributes_keys.each do |attr|
  -model_name = model.name
  -id = "#{template}_#{model_name}_#{attr}"
  -datalist_id = "#{id}_datalist"
  %p.js{click: 'filchColClick', shId: "#{id}_column", datalist: datalist_id, id: id+'_head', load: 'toggleShowHide'}
    =attr
  %table.js{id: "#{id}_column"}
    %tr
      %td
        -# TODO: have results from before
        -# load options now?
        -# TODO: why not load all datalists at the same time!
        %datalist{id: datalist_id, updateInner_addvars: "#{model_name}.#{attr}.#{f.options[:as]}", updateInner_path: '/filch/datalist', class: 'js', update: 'dlUpdate'}
          %option

    -template_config.attributes[attr].each do |pred|
      %tr
        -if lookup_context.find_all("filch/_#{attr}_#{pred}").any?
          =render("filch/#{attr}_#{pred}", f: f, datalist_id: datalist_id, attr: attr, pred: pred, model: model, default_value: template_config.default_values["#{attr}_#{pred}"] || '')
        -elsif lookup_context.find_all("filch/_#{pred}").any?
          =render("filch/#{pred}", f: f, datalist_id: datalist_id, attr: attr, model: model, default_value: template_config.default_values["#{attr}_#{pred}"] || '')
        -else
          %td.no_partial
            -field_hash = {list: datalist_id, class: 'js form-control', placeholder:"#{attr} #{pred}", input: "filchDataList"}
            -field_hash[:value]= template_config.default_values["#{attr}_#{pred}"]
            =f.text_field("#{attr}_#{pred}", field_hash)
    %tr
      %td
