%td
  -# dont update datalist with _eq
  - default_value ||= ''
  - field_hash = {list: datalist_id, class: 'form-control', placeholder: "#{attr} equals"}
  - field_hash[:value] = default_value
  =f.search_field("#{attr}_eq", field_hash)
