-sattrs_class = "#{template} js"
-sattrs={id: "#{model.name}_#{template}_form", class: sattrs_class, method: :post}
=search_form_for @q, url: results_p, html: sattrs do |f|
  %p.btn.btn-sm.js{click: 'clearAll' }
    Clear All
  %table{id: model.name + '_table'}
    %tr
      %td.attributes
        =render('filch/attributes', model: model, f: f, template: template, template_config: template_config)
    %tr
      %td.associations
        =render('filch/associations', model: model, f: f, template: template, template_config: template_config)
    %tr
      %td.scopes
        =render('filch/scopes', model: model, f: f, template: template, template_config: template_config)
    %tr
      %td.options
        =render('filch/options', model: model, template_config: template_config)
    %tr
      %td
        =hidden_field_tag 'template', template
        =hidden_field_tag 'model', model
        - fattrs = {class: 'js submit',
          attr: 'action', elem: 'word_search', attr_val: '/search'}
        =f.submit("search", fattrs)
