%table
  -template_config.options.each do |option|
    %tr
      -if lookup_context.find_all("filch/_#{option}").any?
        =render("filch/#{option}", f: f, option: option, model: model, default_value: template_config.default_values[option] || [])
      -else
        %td
          = option
        %td.nopartial
          =check_box_tag("o[#{option}]", 1, template_config.default_values[option] || false)

