%td
  group for:
%td
  -default_value ||= []
  =f.collection_check_boxes(:pg_group, model.columns, :name, :name, {include_hidden: false}) do |box|
    = box.label {default_value.include?(box.value) ? box.check_box( checked: true ) + box.text : box.check_box(checked: false) + box.text}
