%table
  -template_config.scopes.each do |scope_name|
    %tr
      -if lookup_context.find_all("filch/_#{scope_name}").any?
        =render("filch/#{scope_name}", f: f, scope_name: scope_name, model: model, default_value: template_config.default_values["#{scope_name}"] || nil)
      -else
        %td
          = scope_name
        %td.nopartial
          =check_box_tag("q[#{scope_name}", 1, template_config.default_values[scope_name] || false)

