= javascript_include_tag 'js_weber'
= javascript_include_tag 'filch'
%button.js.btn.btn-sm.collapsed{click: 'toggleShowHide', shId: 'filch', load: 'toggleShowHide'}=button_name
%span#filch
  =select_tag 'template', options_for_select(filch.template_keys, params[:template]), {class: 'js', change: 'showSelected', load: 'showSelected'} if filch.template_keys.length > 1
  -filch.template_keys.each do |template|
    =render('filch/form', model: filch.model, template: template, template_config: filch.templates[template], results_p: results_p)
